
body {
    background-color: lightblue;
}
body {
   color: white;
}

h1 {
   color: white;
   font-size: 150%;
}

h2 {
    color: white;
    font-size: 120%;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
}
a {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;
    font-size: 90%;
}

p {
    font-size: 100%;
}

img {
 max-width: 30%;
 height: auto;
}
.exercises {
  list-style: none;
  margin: 0;
  padding: 0;
}
.exercises li {
  border-bottom: 1px solid lightgray;
}
